// variables and imports
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
$spotifyGrn: #1DB954;
$black: #000;
$roboto: 'Roboto Condensed', sans-serif;

.spotifyContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: $black;
}

.menuBtnContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    height: 100vh;

    a {
        background: none;
        border: none;
        text-decoration: none;
        color: white;
        font-family: $roboto;
        font-size: 1.2em;
        cursor: pointer; 
        background: $spotifyGrn; 
        padding: 4%;
        border-radius: 5px;
        width: 250px;
        
        &:hover {
            opacity: 0.8;
        }

        &:focus {
            outline: none;
        }
    }
}

.trackName {
    display: flex;
    justify-content: center;
}

.trackContainer {
    height: 100vh;
    overflow-y: hidden;
    transition: background-color 1500ms linear;
    h2 {
        margin: 0;
        padding: 2% 0;
        font-family: $roboto;
    }

    .track {
        .trackName {
            img {
                box-shadow: 
                5px 5px rgba(0, 0, 0, 0.4),
                -5px -5px rgba(0, 0, 0, 0.4),
                10px 10px rgba(0, 0, 0, 0.3),
                -10px -10px rgba(0, 0, 0, 0.3),
                15px 15px rgba(0, 0, 0, 0.2),
                -15px -15px rgba(0, 0, 0, 0.2),
                20px 20px rgba(0, 0, 0, 0.1),
                -20px -20px rgba(0, 0, 0, 0.1),
                25px 25px rgba(0, 0, 0, 0.05),
                -25px -25px rgba(0, 0, 0, 0.05);
                transition: transform 1s;
            }

            .moveY {
                transform: scale(0.6) translateY(165%);
            }
        }

        .trackHeading {
            display: flex;
            justify-content: center;
            align-items: center;
            a {
                padding: 0 5%;
                text-decoration: none;
                color: white;
                font-family: $roboto;
                font-size: 1.5em;
            }

            p {
                color: white;
                font-family: $roboto;
                font-size: 1.5em;
            }
        }
    }
}

// nav styling

.navAndImage {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-around;
}

// spotify player

.spotifyPlayer {
    padding: 1.7% 0 0 0;
    z-index: 10000;
}

._PlayerRSWP {
    position: relative;
    z-index: 10;
}